@import "tailwindcss";
@import "./styles/fonts.css";

@theme {
  --color-charred-umber: oklch(0.3197 0.019 18.2);
  --color-old-gold: oklch(0.6304 0.0968 88.81);
  --color-ashen-gray: oklch(0.5048 0.0208 59.16);
  --color-bone-white: oklch(0.8934 0.0342 94.08);
  --color-occult-red: oklch(0.4396 0.1269 23.94);
  --color-antique-parchment: oklch(0.77 0.10 85.29);
  --color-dark-halloween: oklch(0.1568 0.0184 65.91);
}

@layer base {

  html,
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 100%;
    /* Disable overscroll behavior */
    overscroll-behavior: none;
    overscroll-behavior-y: none;
  }

  html {
    scrollbar-gutter: stable;
    background: var(--color-dark-halloween);
    color: var(--color-bone-white);
  }

  /* Webkit Browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-old-gold);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-old-gold);
    border-radius: 5px;
    border: 2px solid oklch(77.526% 0.09063 67.442 / 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-old-gold / 0.8);
    /* Efecto hover */
  }

  /* Firefox */
  * {
    scrollbar-color: var(--color-old-gold) var(--color-dark-halloween);
    scrollbar-width: thin;
  }
}

.font-cardo {
  font-family: "Cardo", serif;
}

.font-crimson-pro {
  font-family: "Crimson Pro", serif;
}

.font-playfair-display {
  font-family: "Playfair Display", serif;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
